* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: antarctica;
    height: 100vh;
    background-image: url(imagenes/fondo_microplasticos.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo svg {
    height: 100px;
    width: auto;
  }
  